<html>
<head>
  <meta charset="utf-8">
  <a class="btn btn-primary" id ="selling" href="/map">Map</a>
  <link href="https://fonts.googleapis.com/css?family=Karla|Spectral&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div id="container">
    <div class="box">
      <h2><span class="highlight">Visualize Your Commute</span></h2>
      <ol>
        <li>Visit <a href="https://takeout.google.com/settings/takeout">Google Takeout.</a></li>
        <li>Select 'Location History' and download your file.</li>
        <li>Drag and drop JSON file down below</li>
      </ol>
      <form class="fileupload" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upfile" value="">
        <input type="submit" />
      </form>
    </div>
  </div>
</body>
</html>