body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.06em;
  line-height: 120%;
  color: white;
  background: linear-gradient(90deg, #cf70f6 0%, #1f56ac 100%);
}

h1 {
  text-align: center;
  font-size: 72px;
  line-height: 0.9em;
  font-style: italic;
}

a {
  font-style: italic;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

a:hover {
  border-bottom: 0.4vmin;
  cursor: help;
}

li {
  padding: 4px;
}

#container {
  margin: 3em;
  position: absolute;
  width: calc(100% - 8em);
  vertical-align: middle;
}

.box {
  margin: 0 auto;
  max-width: 60%;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  max-height: 85vh;
  overflow-y: scroll;
}

.desc {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 20px 30px;
  margin: 0 2px;
  font-size: 1rem;
  text-align: center;
  line-height: 2em;
}

.button {
  padding: 20px;
}